.form_auth {
    display: flex;            /* active flexbox */
    justify-content: center; /* centre verticalement car column */
    flex-direction: column; /* empile verticalement */
    align-items: center;      /* centre horizontalement, car column */
    min-height: 75vh; /* donne au conteneur la taille de l'ecran permet donc de tout centrer*/
    gap: 1.5rem;   /* permet d'espacer tout les children du form*/
}

.button {
    font-size: 15px;
    font-family: inherit;
    background-color: transparent;
    color: var(--text);
    border: 2px solid var(--border) ;
    padding: 12px;
    cursor: pointer;
    width: 150px; /* donne la meme taille aux boutons*/
}

.auth_question {
    display: flex;
    gap: 0.5rem;
}

.link {
    font-family: inherit;
    font-size: 1.17em; /* h3 size*/
    font-style: italic;
    text-decoration: none;
}

.separateur {
    display: flex;
    align-items: center; /* aligne les items sur la même ligne */
    gap: 10px;  /* espace entre le "ou" et les lignes  */
    width: 100%; /* reduit tout seul sur mobile  */
    max-width: 400px; /* taille max que peut prendre les lignes  */
}

.separateur::before,
.separateur::after {
    content: ""; /* obligé pour que le separateur existe */
    flex: 1; /* chaque trait grandit pour combler l'espace dispo */
    height: 1px;
    background-color: var(--border);
}

.inputs {
    background-color: transparent;
    font-size: 16px;
    color: var(--text);
    border: 1px solid var(--border);
    padding: 10px;
    width: 100%; /* reduit tout seul sur mobile  */
    max-width: 400px; /* taille max que peut prendre les lignes  */
}