.div_home {
    display: flex;
    /* active flexbox */
    justify-content: center;
    /* centre verticalement car column */
    flex-direction: column;
    /* empile verticalement */
    align-items: center;
    /* centre horizontalement, car column */
    min-height: 65vh;
    /* donne au conteneur la taille de l'ecran permet donc de tout centrer*/
    gap: 1.5rem;
    /* permet d'espacer tout les children du form*/
}

.texteHome {
    font-size: var(--text-home);
    overflow-wrap: anywhere; /* pour la coupe */
    max-width: 100%;
}

.inputPhoto {
    display: none;
}

.imageHomeDiv {
    position: relative;
    /* devient la reference pour le calque */
    display: inline-block;
    /* pour epouser la taille de l'image */
}

.calque {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    cursor: pointer;
    /* afficher la petite main */
}

.imageHomeDiv:hover {
    .calque {
        opacity: 1;
    }
}

.divBlocHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}