.liste {
    list-style: none;
    padding: 20px;
    display: grid; 
    grid-template-columns: 1fr; /*  base mobile 1 seule colonne */
    gap: 20px;
}

@media (min-width: 768px) {
    .liste { grid-template-columns: repeat(4, 1fr); }   /* grand écran : 4 colonnes */
}

.liste img {
    height: 50px;
    width: 50px;
    object-fit: contain /* pour avoir une image toujours bien*/
}

.carte {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* chaque item se cale à gauche et garde sa taille*/
    border: 1px solid var(--border);
    padding: 5px;
    word-break: break-word; /* saute des lignes automatiquement*/
}

.btnVote {
    background-color: #c48d41;
    font-family: inherit;
    color: var(--text);
    border: 1px solid var(--border);
    padding: 12px;
    cursor: pointer;
    width: 150px;
}
.btnVote:disabled { 
    cursor: not-allowed; opacity: 0.4; 
}
.btnVote:hover { 
    filter: brightness(.9); 
}
.btnVote:active { 
    filter: brightness(1.3); 
}

.podiumTier {
    border: 2px solid;
    word-break: break-word;
    padding: 14px;
}
.first  { 
    border-color: #c48d41; 
}   
.second { 
    border-color: #b1b1b1; 
}  
.third  { 
    border-color: #63411d; 
}

.second h1, .third h1 {
    font-size: 1.5rem; 
}

.troneRow  { 
    display: flex;
    flex-direction: column; /* mobile first donc on empile tout*/
    align-items: center; 
    justify-content: space-between; 
    gap: 24px; 
}

@media (min-width: 768px) {
    .troneRow {
        flex-direction: row;            /* grand écran : côte à côte */
        justify-content: space-between;
    }
}

.troneLeft {
    display: flex;
    flex-direction: column;   /* mobile : logo au-dessus du texte */
    align-items: center;
    text-align: center;       /* on centre */
    gap: 16px;
}
@media (min-width: 768px) {
    .troneLeft {
        flex-direction: row;   /* grand écran : logo à gauche du texte */
        text-align: left;
    }
}

.first img {
    width: 120px;
    height: 120px;
    object-fit: cover; /* recadre bien l'image*/
}

.infos {
    display: flex;
    align-items: center;
    gap: 20px;
}

.voteNombre { 
    font-size: 2rem; color: #c48d41; 
}

.podium, .podiumRow {
    max-width: 900px;
    margin: 0 auto;  /*centre le bloc horizontalement*/
    padding: 20px;
}

.podiumRow {
    max-width: 1100px;
    margin: 0 auto;  /*centre le bloc horizontalement*/
    display: flex;
    gap: 20px;
    flex-direction: column; /* mobile first donc on empile tout*/
}

@media (min-width: 768px) {
    .podiumRow { flex-direction: row; } /* grand écran : côte à côte */
}

.second, .third { 
    flex: 1; /* chacun prend la moitié de la rangée */
}   

.second img, .third img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}