.div_princ {
    display: flex;            /* active flexbox */
    flex-direction: column; /* empile verticalement */
    justify-content: center;
    align-items: center;      /* centre horizontalement, car column */
    gap: 1.5rem;   /* permet d'espacer tout les children du form*/
    min-height: 65vh; /* donne au conteneur la taille de l'ecran permet donc de tout centrer*/

}

.button {
    background-color:var(--rouge);
    font-size: 15px;
    font-family: inherit;
    color: var(--text);
    border: 1px solid var(--border) ;
    padding: 12px;
    cursor: pointer;
    width: 150px; /* donne la meme taille aux boutons*/
}

.button:hover {
    filter: brightness(.9);
}

.button:active {
    filter: brightness(1.3);
}

.inputs {
    background-color: transparent;
    font-size: 15px;
    color: var(--text);
    border: 1px solid var(--border);
    padding: 10px;
}

.avatar_image {
    height: 100px;
    width: 100px;
    object-fit: contain /* pour avoir une image toujours bien*/
}