.navbar {
    align-items: center;
    padding-block: 5px;
    border-bottom: 1px solid var(--border);
    background-color: var(--background);
    z-index: 1000;
    text-transform: uppercase;
}

.navInner {
    display: flex;
    justify-content: space-between; /* colle le premier groupe à gauche, le dernier à droite, avec le max d'espace entre les deux.*/
    max-width: var(--canvas-max);
    margin: 0 auto;
    padding-inline: var(--canvas-gutter);
    align-items: center;
}

.right {
    display: none; /* cachés par défaut sur mobile */
    flex-direction: column; /* quand ils s'affichent, empilés */
    font-size: var(--h3);
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.right.open {
    display: flex; /* le menu ouvert : on les montre */
}

.right :global(.active) {
    border: 1px solid var(--text);
}

.right a {
    border: 1px solid transparent;
    padding: 5px;
}

.right a:hover {
    border: 1px solid var(--text);
}

.hamburger {
    display: block; /*prend toute la largeur dispo et force un retour à la ligne*/ 
    background: transparent;
    border: none;
    color: var(--text);
    font-size: 28px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .right { display: flex; flex-direction: row; }
    .hamburger { display: none; }
}

.logo {
    display: flex;
    align-items: center;  /* aligne verticalement l'image et le texte */
    gap: 5px;
    text-decoration: none;
}

.logo img { /*avoir une image bonne taille */
    height: 30px;
    width: auto;
    padding: 10px;
}

@media (min-width: 768px) {
    .logo img { /*avoir une image bonne taille */
        height: 60px;
        width: auto;
        padding: 10px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text);
}

.info span {
    color: red;
}

.cta {
    text-decoration: underline;
}