.navbar {
    display: flex;
    justify-content: space-between; /* colle le premier groupe à gauche, le dernier à droite, avec le max d'espace entre les deux.*/
    align-items: center;
    padding: 5px 14px;
    border-bottom: 1px solid var(--border)
}

.right {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.right :global(.active) {
    color: #c48d41; 
}

.right a:hover {
    opacity: .8;
}

.logo {
    display: flex;
    align-items: center;  /* aligne verticalement l'image et le texte */
    gap: 5px;
    text-decoration: none;
}

.logo img { /*avoir une image bonne taille */
    height: 100px;
    width: auto;
    padding: 10px;
}

.avatar {
    height: 40px;
    width: 40px; 
    border-radius: 50%; /* le rend circulaire */
    object-fit: cover; /* l'image remplit le cercle sans se déformer */
    border: 1px solid var(--border);
}

.page { 
    padding-inline: 24px; 
    padding-top: 20px;
}