@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
    --background: #111111;
    --text: #f0f0ed; 
    --border: #f0f0ed;
    --rouge: #cc2507;
    --surface: #1a1a1a;
    --border_carte: #1d1d1d;
    --text-muted: #737373;
    --leader_color: #2e1515;
    --leader_color_border: #411a1a;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
  scrollbar-gutter: stable; /* quand la scroll barre arrive, evite un gros gap */
}

body {
    background-color: var(--background);
    color: var(--text);
    position: relative;
    overflow-x: hidden;
    font-family: "IBM Plex Mono", monospace;
    padding-bottom: 60px;
    padding-top: 130px;
}

a {
    color: var(--text);
    text-decoration: none;
}

button, input, textarea {
  font-family: inherit;
}

