@import url(https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');

:root {
    --background: #ffffff;
    --text: #000000; 
    --border: #000000;
    --rouge: #ff2600;
    --text-muted: #000000;
    --canvas-max: 1300px; /* largeur max du contenu, partout */
    --canvas-gutter: 24px; /* marge latérale, partout */
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    position: relative;
    font-family: 'Computer Modern Serif', serif;
}

a {
    color: var(--text);
    text-decoration: none;
}

button, input, textarea {
  font-family: inherit;
}

