@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
    --background: #111111;
    --text: #f0f0ed; 
    --border: #f0f0ed;
    --rouge: #cc2507;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
  scrollbar-gutter: stable; /* quand la scroll barre arrive, evite un gros gap */
}

body {
    background-color: var(--background);
    color: var(--text);
    position: relative;
    overflow: hidden; /* Assure que le grain ne dépasse pas */
    font-family: "IBM Plex Mono", monospace;
}

a {
    color: var(--text);
    text-decoration: none;
}

button, input, textarea {
  font-family: inherit;
}

